body{

}

form{

  max-width:400px;
  margin:auto;


}
form input[type="text"],form input[type="password"],form input[type="email"], form input[type="number"]{
  border-radius: 50px;
  border-width: thin;
  border-color: black;


}
form input[type="submit"]{
  border-radius: 25px;
  margin-top: 30px;
}
