body{
  background-color: #F8EFBA;

}

form{

  max-width:360px;
  margin:auto;
  margin-top: 50px;

}
form input[type="email"], form input[type="password"]{
  border:2px ;
  border-radius: 25px;

}
form input[type="submit"]{

  border-radius:  25px;
}
a{
	margin-bottom:25px;
}
